.searchbar {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #222;
}

.searchbar > .searchbar-item {
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 1px;
  background-color: #323231;
  color: white;
  padding: 5px;
  box-sizing: border-box;
}
.searchbar-input {
  outline: none;
  border: none;
  width: 100%;
  display: block;
  padding-left: 20px;
}
