<div>
Total funds
{{ funds | currency }}
<span (click)="showAddFunds = !showAddFunds">Add funds</span>
<br /><br />
  <form #addFundsForm="ngForm"
        *ngIf="showAddFunds" 
        (ngSubmit)="addFundsHandler()">
    <input  type="text" 
            placeholder="Enter amount to add (e.g. 1950.00)" 
            [(ngModel)]="fundsAmountString"
            name="fundsAmount"
            />
    <button type="submit">Add funds</button>
    <span *ngIf="showErrorMsg">{{ errorMsg }}</span>
  </form>
</div>